# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Compiled files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled Go code
*.out
*.test

# Dependency directories
/vendor/
/go.sum

# Binary files
*.bin

# IDE files
.idea/
.vscode/
*.iml

# Build files
/build/

# OS-specific files
.DS_Store
Thumbs.db